::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.container {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
.control-container {
    display: flex;
    margin-left: 20px;
}
.form-controler {
    display: block;
    // width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.82rem;
    line-height: 1.5;
    height: 35px;
    color: #495057;
    background-color: #fff;
    outline: 0;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    // border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.logo {
    margin-left: 10px;
    width: 180px;
    height: auto;
}
.ml-15 {
    margin-left: 15px
}
.button {
    background: #3b5998;
    // background: #e2652d;
    height: 35px;
    width: 100%;
    border-radius: 0;
    outline: 0;
    border-color: #3b5998;
    // border-color: #e2652d;
    color: white;
}
mat-card {
    margin: 20px;
}
.spin {
    position: absolute;
    left: 50%;
    top: 50%;
}

.header {
    height: 65px;
    width: 100%;
    background: white;
    border-bottom: 1px solid lightgray;
    // background: #e2652d;
    z-index: 9999999;
    display: flex;
    box-shadow: 5px 5px 5px #aaaaaa;
    position: fixed;
    top: 0;
    left: 0;
    // justify-content: center;
    align-items: center;
    div {
        text-align: center;
        // position: fixed;
        img {
            margin-left: 10px;
            width: 100px;
            // width: 180px;
            height: auto;
        }
    }
}

.list {
    padding-top: 80px;
}
.icon-row {
    display: flex !important;
    align-items: center !important;
    font-size: 11px !important;
    margin: 0;
    padding: 0;
}
mat-icon {
    color: #3b5998;
    cursor: pointer;
    // color: #e2652d;
}
.pagination {
    border: 1px solid #3b5998;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.pagination-container {
    display: flex;
    justify-content: space-evenly;
}
.active {
    background: #3b5998;
    color: white;
}
.action-btn {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background: #3b5998;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disabled {
    display: none;
}
.input-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    mat-icon {
        position: absolute;
    }
}
// .rad {
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     // height: 33px;
// }
// .in-rad {
//     border-bottom-right-radius: 0;
//     border-top-right-radius: 0;
// }

.mt-10px {
    margin-top: 10px;
}
@media only screen and (max-width: 768px) {
.header {
    display: block;
    height: auto;
    justify-content: flex-start;
    div {
        text-align: center !important;
        img {
            margin-top: 10px;
            // width: 150px !important
        }
    }
}

.row {
    .col-9 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .col-10 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.control-container {
    display: block;
    margin: 0;
}
.input-icon {
    margin: 10px
}
.form-controler {
    width: 100%;
    margin: 0;
    // border-radius: 0.25rem;
}
.button {
    width: 100%
}
.list {
    padding-top: 225px;
    // padding-top: 70px;
}
}
.margin-10 {
    margin: 10px
}
.list-header {
    display: flex;
    justify-content: space-between;
}
.apply-button {
    background: #3b5998;
    border-color: #3b5998;
    color: white;
    outline: 0;
    border-radius: 5px;
} 
.select {
    background: darkgray;
}