<div class="header">
    <div>
        <img [routerLink]="['']" routerLinkActive="router-link-active"  src="../../assets/dreamstime.jpg">
    </div>
    <div class="control-container">
        <!-- <mat-form-field appearance="outline">
                <mat-label>Keyword</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput>
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field> -->
        <div class="input-icon">
            <!-- <input class="form-control" [(ngModel)]="keyword" name="keyword" placeholder="Keyword"> -->
            <ng2-completer id="complete-lister" #completer [(ngModel)]="keyword" (blur)="completer.close()" [openOnClick]="'true'"
            placeholder="Select a Job Category" [inputClass]="'control-list'" [datasource]="dataModel"
            [minSearchLength]="0"></ng2-completer>

        <mat-icon matSuffix *ngIf="!completer.isOpen()" (click)="completer.open()">keyboard_arrow_down</mat-icon>
        <!-- <mat-icon matSuffix *ngIf="completer.isOpen()" (click)="completer.close()">keyboard_arrow_up</mat-icon> -->
       
    </div>
        <div class="input-icon">
            <input class="form-controler ml-15 in-rad" [(ngModel)]="location" name="location" placeholder="Location">
            <mat-icon matSuffix>location_on</mat-icon>
        </div>
        <div class="input-icon ml-15">
            <button mat-button class="button rad" (click)="findJobs()">Find Jobs</button>
        </div>
    </div>
</div>

<div class="spin">
    <mat-spinner *ngIf="loading" [diameter]="50"></mat-spinner>
</div>
<div class="list">
    <ng-container *ngIf="jobsList">
        <div>
            <div class="row margin-10">
                <div class="col-9">
                    <div class="list-header">
                        <div *ngIf="total && location">
                            <p style="color: #3b5998; margin: 0"> {{total}} Jobs Found in {{location}}.</p>
                        </div>
                        <div style="display: flex;height: fit-content;">
                           <!-- <mat-icon matsuffix>event</mat-icon> -->
                            <button [ngClass]="{select:filter === 'r'}" (click)="setFilter('r')">Relevance</button>
                            <button [ngClass]="{select:filter === 'd'}" (click)="setFilter('d')">Date</button>
                        </div>
                    </div>
                </div>
                <div class="col-9 mt-10px" *ngFor="let job of jobsList;let i = index">
                    <div class="row">
                        <div class="col-10">
                            <a href="{{job.url}}">{{job.title}}</a>
                            <p style="margin: 0;font-size: 14px;">{{job.description}}</p>
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>work</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;">{{job.company}}</span>
                            </div>
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>location_on</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;">{{job.city[0]}}</span>
                            </div>
                            <div style="display: flex">
                                <mat-icon style="font-size: 16px" matSuffix>event</mat-icon>
                                <span style="font-size: 12px;font-weight: 500;">{{job.date | date:'medium'}}</span>
                            </div>
                        </div>
                        <div class="col-2" style="display: flex; align-items:center;">
                            <button class="apply-button" (click)="apply(job)">APPLY</button>
                        </div>
                    </div>
                </div>
                <div class="col-9 margin-10">
                    <div class="pagination-container" *ngIf="pagination">
                        <p class="action-btn" [ngClass]="{disabled:pagination.currentPage === 1}"
                            (click)="setPage(pagination.currentPage - 1)">Previous</p>
                        <p class="pagination" *ngFor="let page of pagination.pages"
                            [ngClass]="{active:pagination.currentPage === page}" (click)="setPage(page)">{{page}}</p>
                        <p class="action-btn" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}"
                            (click)="setPage(pagination.currentPage + 1)">Next</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <mat-card *ngFor="let job of jobsList;let i = index">
            <a href="">{{job.title}}</a>
            <mat-card-content>{{job.description}}</mat-card-content>
            <div>
                <mat-icon matSuffix>search</mat-icon>
                <span>{{job.date}}</span>
            </div>
        </mat-card> -->
        <!-- <div style="padding: 20px" *ngIf="total && location">
            <p style="color: #e2652d; margin: 0"> {{total}} Jobs Found in {{location}}.</p>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let job of jobsList;let i = index">
                <a matLine href="{{job.url}}">{{ job.title }}</a>
                <p matLine style="white-space: normal;"> {{job.description}}</p>
                <p matLine class="icon-row">
                    <mat-icon matListIcon>work</mat-icon>
                    <span> {{job.company}} </span>
                </p>
                <p matLine class="icon-row">
                    <mat-icon matListIcon>location_on</mat-icon>
                    <span> {{job.city[0]}} </span>
                </p>
                <p matLine class="icon-row">
                    <mat-icon matListIcon>event</mat-icon>
                    <span> {{job.date | date:'medium'}} </span>
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list> -->
        <!-- <div>
            <div class="pagination-container" *ngIf="pagination">
                <p class="action-btn" [ngClass]="{disabled:pagination.currentPage === 1}"
                    (click)="setPage(pagination.currentPage - 1)">Previous</p>
                <p class="pagination" *ngFor="let page of pagination.pages"
                    [ngClass]="{active:pagination.currentPage === page}" (click)="setPage(page)">{{page}}</p>
                <p class="action-btn" [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}"
                    (click)="setPage(pagination.currentPage + 1)">Next</p>
            </div>
        </div> -->
    </ng-container>
</div>