  .top-nav {
    // background-image: linear-gradient(white, orange);
    // background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(59,89,152,1) 35%, rgba(0,212,255,1) 100%);
    // height: 300px;
    // box-shadow: 3px 5px 8px #3b5998;
    .tagline-container {
        margin-top: 20px;
        text-align: center;
        img {
            width: 55%;
            // width: 550px;
            height: auto;
        }
    }
    .link-container {
        display: none;
    }
    .image-container {
        // text-align: center;
        .logo {
            padding: 20px;
            background: white;
            .text {
                display: none;
            }
            img {
                width: 170px;
                height: auto;
            }
            .menu {
                display: none;
            }
        }
    }
    .text-container {
        margin-top: 15px;
        text-align: center;
        span {
            font-size: 40px;
            color: red;
            font-weight: bold;
        }
    }
    .tag-container {
        text-align: center;
        span {
            font-size: 25px;
            color: blue;
            // font-weight: bold;
        }
    }
    .input-container {
        display: flex;
        padding: 45px;
        justify-content: space-evenly;
        .input-icon{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            box-shadow: 3px 5px 8px #3b5998;
            .form-controler {
                display: block;
                padding: 0.375rem 0.75rem;
                font-size: 1.3rem;
                line-height: 1.5;
                color: #495057;
                outline: 0;
                // padding-left: 30px;
                width: 370px;
                height: 55px;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                // border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            mat-icon {
                position: absolute;
                color:#3b5998;
                cursor: pointer;
            }
            }
            .btn-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .btn-find {
                    display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    width: 350px;
                    height:55px;
                    border: 1px solid transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 1.3rem;
                    // background: #e2652d;
                    background: #23355b;
                    color: white;
                    border-color: #23355b;
                    // border-color: #e2652d;
                    line-height: 1.5;
                    // border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    }
            }
    }
  }
  .footer {
    //   background-image: url('../../assets/footer.jpg');
      text-align: center;
    //   position: relative;
    //   padding: 30px;
    margin-top: 20px;
      img {
        width: 100%;
        height: 100%;
      }
  }
  .mob-footer{
      display: none;
  }
  
  .btn-find:hover {
      background:#44c0fe !important; 
      border-color:#44c0fe !important; 
  }
@media only screen and (max-width: 768px) {
    .top-nav {
        // height: 430px !important;
        box-shadow: 0 0 0;
    }
    .image-container {
        // text-align: left !important;
        display: block;
        align-items: center;
        .logo {
            padding: 10px 25px !important;
            // box-shadow: 3px 5px 8px lightgrey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 120px !important;
            }
            .text {
                display: block !important;
                font-size: 30px;
                color: #44c0fe;
                font-weight: 500;
            }
            .menu {
                display: block !important;
                button {
                    background: transparent;
                    border-color: red;
                    color: red;
                    display: flex;
                    align-items: center;
                    width: 45px;
                    height: 40px;
                    justify-content: center;
                    border-radius: 5px;
                    outline: 0 !important;
                }
            }
        }
        .link-container {
            width: 100%;
            position: absolute;
            // background: white;
            background: #44c0fe;
            border-radius: 10px;
            z-index: 999;
            display: block !important;
            text-align: center;
            p {
                // border-bottom: 1px solid lightgray;
                margin: 20px;
                color: white;
            }
           
        }
    }
    .tagline-container {
        img {
            width: 300px !important;
        }
    }
    .text-container {
        span {
            font-size: 18px !important;
        }
    }
    .tag-container {
        margin-top: 10px !important; 
        span {
            font-size: 14px !important;
        }
    }
    .input-container {
        display: block !important;
        padding: 20px !important;
        .input-icon {
            .form-controler {
                width: 100% !important;
                font-size: 1rem !important;
                // height: 49px !important;
            }
        }
    }
    .btn-container {
        margin-top: 10px;
        .btn-find {
            width: 100%  !important; 
            font-size: 1rem !important;
        }
    }
    .mt-10 {
        margin-top: 10px !important;
    }
    .footer {
        display: none;
    }
    .mob-footer {
        text-align: center;
        display: block;
        margin-top: 15px;
    }
}