<div class="top-nav">
    <div class="image-container">
        <div class="logo">
            <img src="../../assets/dreamstime.jpg">
            <!-- <div class="text"><span style="color: red;">LIKE</span> JOBS</div> -->
            <div class="menu">
                <button>
                    <mat-icon matSuffix (click)="menuClick()">menu</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="open" class="link-container" [ngClass]="(open=='true')?'animated fadeInUp':'animated fadeInDown'">
            <p>Home</p>
            <p>About Us</p>
            <p>Contact us</p>
            <p>Terms, Privacy & Cookie Policy</p>
        </div>
    </div>
    <div class="tagline-container animated bounce">
        <img src="../../assets/tagline.jpg">
    </div>
    <!-- <div class="text-container">
        <span>SEARCH AMERICA'S MOST LIKED JOBS!</span>
    </div>
    <div class="tag-container">
        <span>85% of People Hate Their Jobs, Gallup Poll Says</span>
    </div> -->
    <div class="input-container">
        <div class="input-icon">
            <ng2-completer id="complete" #completer [(ngModel)]="keyword" (blur)="completer.close()" [openOnClick]="'true'"
                placeholder="Select a Job Category" [inputClass]="'control'" [datasource]="dataModel"
                [minSearchLength]="0"></ng2-completer>

                <mat-icon matSuffix *ngIf="!completer.isOpen()" (click)="completer.open()">keyboard_arrow_down</mat-icon>
                <!-- <mat-icon matSuffix *ngIf="completer.isOpen()" (click)="completer.close()">keyboard_arrow_up</mat-icon> -->

        </div>
        <div class="input-icon mt-10">
            <input type="text" class="form-controler" name="location" [(ngModel)]="location" placeholder="Location">
            <mat-icon matSuffix>location_on</mat-icon>
        </div>
        <div class="btn-container">
            <button class="btn-find" type="submit" (click)="findJobs()">Find Jobs</button>
        </div>
    </div>
</div>
<p style="text-align: center;margin: 0;"><iframe style="border: none; overflow: hidden;"
        src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Flike.jobs&amp;width=133&amp;layout=button_count&amp;action=like&amp;size=large&amp;show_faces=false&amp;share=true&amp;height=46&amp;appId"
        width="163" height="46" frameborder="0" scrolling="no"></iframe></p>
<!-- <div class="footer">
    <img src="../../assets/SAVE_20191018_092211.jpg">
</div> -->
<div class="footer">
    <span>© 2019 Like.jobs </span>|<span><a href=""> Privacy and Terms </a></span>|<span><a href=""> About us
        </a></span>|<span><a href=""> Contact us</a></span>
</div>
<div class="mob-footer">
    <span>© 2019 Like.jobs </span>
</div>