/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.control {
    display: block;
    width: 370px;
    height: 55px !important;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    font-weight: 400;
    outline: 0;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    // border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.control-list {
    display: block;
    width: 100%;
    height: 35px !important;
    padding: .375rem .75rem;
    font-size: 0.82rem;
    font-weight: 400;
    outline: 0;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    // border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#complete-lister .completer-dropdown {
    width: 185px !important;
    font-size: 1rem !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px !important;
}
#complete .completer-dropdown {
    width: 370px !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 240px !important;
}
@media only screen and (max-width: 768px) {
.control {
    width: 100% !important;
    font-size: 1rem !important;
}
#complete .completer-dropdown {
    width: 100% !important;
    position: absolute;
    // height: auto !important;
}
#complete .completer-dropdown-holder {
    position: relative;
}
#complete-lister .completer-dropdown {
    width: 95% !important;
}
ng2-completer {
    width: 100% !important;
}
}